{
  "openapi": "3.1.0",
  "info": {
    "title": "MerrySails Public API",
    "summary": "Discovery resources for Bosphorus cruises and yacht charter in Istanbul.",
    "description": "MerrySails is a Bosphorus cruise & yacht charter operator. This document declares discovery resources for AI agents and integrators. There is no programmatic booking endpoint — reservations go through the form at /reservation or WhatsApp, and every booking is reviewed by a human operator before it's confirmed.",
    "version": "1.0.0",
    "contact": {
      "name": "MerrySails Operations",
      "url": "https://merrysails.com/contact"
    },
    "license": { "name": "Proprietary", "url": "https://merrysails.com/terms" }
  },
  "servers": [{ "url": "https://merrysails.com", "description": "Production" }],
  "tags": [
    { "name": "discovery", "description": "Site discovery resources" }
  ],
  "paths": {
    "/sitemap.xml": {
      "get": {
        "tags": ["discovery"],
        "operationId": "getSitemap",
        "summary": "Sitemap.",
        "responses": { "200": { "description": "XML sitemap", "content": { "application/xml": {} } } }
      }
    },
    "/agents.md": {
      "get": {
        "tags": ["discovery"],
        "operationId": "getAgentReference",
        "summary": "Compact Markdown reference for AI agents.",
        "responses": { "200": { "description": "Markdown document", "content": { "text/markdown": {} } } }
      }
    },
    "/llms.txt": {
      "get": {
        "tags": ["discovery"],
        "operationId": "getLlmsIndex",
        "summary": "LLM-friendly site index.",
        "responses": { "200": { "description": "Plain text", "content": { "text/plain": {} } } }
      }
    }
  },
  "externalDocs": {
    "description": "Agent + booking reference (compact, preferred for AI consumption).",
    "url": "https://merrysails.com/agents.md"
  }
}
